@import '/src/config.scss';

.signup-content {
    text-align: center;
    @include centreItems;
    padding: 20px;
}

.ion-input {
    border-bottom: 5px solid red;
}

ion-item {
    margin-top: 10px;
}

.login-btn {
    width: 100%;
    margin-top: 10px;
};

.welcome-content {
    text-align: center;
    @include centreItems;
    padding: 20px;
};