<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <div style="width: 90%;text-align: center;">

{{"language"|translate}}      
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group  [value]='lang'>
      <ion-item (ionFocus)="changeLanguage($event)">
        <ion-label>KA</ion-label>
        <ion-radio slot="start" value="ka"></ion-radio>
      </ion-item>
  
      <ion-item (ionFocus)="changeLanguage($event)">
        <ion-label>ENG</ion-label>
        <ion-radio slot="start" value="en"></ion-radio>
      </ion-item>
  
    </ion-radio-group>
  </ion-list>
  
</ion-content>








