<ion-list>
  <ion-radio-group  [value]='lang'>
    <ion-list-header >
      <ion-icon (click)="openMenu()" style="margin-bottom: 7px"  name="chevron-back-outline"></ion-icon>
      <ion-label style="text-align:center;">{{"language" | translate}}</ion-label>
    </ion-list-header>

    <ion-item (ionFocus)="changeLanguage($event)">
      <ion-label>KA</ion-label>
      <ion-radio slot="start" value="ka"></ion-radio>
    </ion-item>

    <ion-item (ionFocus)="changeLanguage($event)">
      <ion-label>ENG</ion-label>
      <ion-radio slot="start" value="en"></ion-radio>
    </ion-item>

  </ion-radio-group>
</ion-list>
