<ion-header>
  <ion-toolbar>
    <ion-title>Reset Psssword</ion-title>
  </ion-toolbar>
</ion-header>



  <ion-content class="reset-content" >
    <div class="reset-content">
    <form (ngSubmit)="resetPass(resetPassFrom)" #resetPassFrom="ngForm" >
        <ion-item>
          <ion-input [(ngModel)]="field.username" 
          required
          name="Email"
          #userName="ngModel"
          placeholder="Email">
          </ion-input>
        </ion-item>
    
        <ion-button type="submit" class="reset-btn" color="primary">Reset Pass</ion-button>
    
      
    </form>
</div>
    
    </ion-content>

