<h4 style="text-align:center;padding:50px">PAZAZZ LOGO</h4>
<div class="login-content">

  <div class="login-inner">
    <h6>Email verify</h6>
    <form (ngSubmit)="userLogin(userLoginForm)" #userLoginForm="ngForm">
      <ion-item>
        <ion-input [(ngModel)]="field.username" 
                   name="username"
                   #userUsername="ngModel"
                   required
                   placeholder="Username">
        </ion-input>
      </ion-item>
      
      <div style="margin-top:5px;color: red;" *ngIf="userLoginForm.submitted&&userUsername.errors?.required">
        შეიყვანეთ მომხმარებელი
    </div>
      <ion-item>
        <ion-input [(ngModel)]="field.password" 
        required
        name="password"
        type="password"
        #userPassword="ngModel"
                   placeholder="Password">
        </ion-input>
        <span [routerLink]="['/tabs/resetPass']"  style="font-size:small">დაგავიწყდა?</span>
      </ion-item>
      <div style="margin-top:5px;color: red;"*ngIf="userLoginForm.submitted&&userPassword.errors?.required">
        შეიყვანეთ პაროლი
    </div>
    <p [routerLink]="['/tabs/registration']" >რეგისტრაცია</p>
      <ion-button type="submit" class="login-btn" color="primary">sign in</ion-button>

    </form>
  </div>


  <h6>OTP Verify</h6>


  <form [hidden]="enterOtp" (ngSubmit)="loginOTP(userOTPform)"#userOTPform='ngForm' >
    <ion-item>
      <ion-input [(ngModel)]="field.mobile"
      required
      pattern="^\+[0-9]{1,15}$"
      name="mobile"
      type="text"
      #userMobile="ngModel"
      placeholder="mobile">
      </ion-input>
    </ion-item>
    <div  *ngIf="userOTPform.submitted">
      <div *ngIf="userMobile.errors?.required" style="margin-top:5px;color: red;font-size: small;">
        შეიყვანე მობილურის ნომერი
      </div>
      <div *ngIf="userMobile.errors?.pattern" style="margin-top:5px;color: red;font-size: small;">
       არასწორი ფორმატი
      </div>
  </div>
  <!-- <p [routerLink]="['/tabs/registration']" >რეგისტრაცია</p> -->
    <ion-button  type="submit" id="login-btn" color="primary">send OTP</ion-button>
  </form>

<form class="otp-content" [hidden]="!enterOtp" #otpForm="ngForm" >
  <ion-item>
    <ion-input [(ngModel)]="field.otp"
    required
    pattern="^\+[0-9]$"
    maxlength="6"
    name="otp"
    type="text"
    #userOtp="ngModel"
    placeholder="otp">
    </ion-input>
  </ion-item>




  <ion-button type="submit"  (click)="confirm()"  id="login-btn" color="primary">confirm</ion-button>
</form>
  


</div>