@import '/src/config.scss';

.title {
    width: 90%;
    text-align: center;
}

.login-content {
    text-align: center;
    @include centreItems;
    padding: 20px;
}

.ion-input {
    border-bottom: 5px solid red;
}

ion-item {
    margin-top: 10px;
    border-radius: 10px;
}

#login-btn,
.login-btn {
    width: 80%;
    margin-top: 15px;
}

.error-message{
    margin-top:5px;
    color: red; 
    font-size: small;
}