
.login-content{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}
.ion-input{
    border-bottom: 5px solid red;
}
ion-item{
    margin-top: 10px;
}
#login-btn,.login-btn{
    width: 80%;
    margin-top: 15px;

}
