<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <div style="width: 90%;text-align: center;">
      My Subscribtions
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="subscribtions-incart-content">
    <div *ngIf="items$">
      <div class="subscribtions-incart-list">
        <div class="subscribtions-incart-inner" *ngFor="let item of items$;let i =index">
          <img [src]="item.image">
          Name:
          <span>
            {{item.itemName}}
          </span>
          <!-- Brand:
          <span>
            {{item.brand}}
          </span> -->
          Price:
          <span>
            {{item.oldPrice}}
          </span>
          <ion-icon (click)="presentActionSheet(i)" style="float:right;cursor:pointer;opacity:0.8;"
            name="trash-outline"></ion-icon>

        </div>

      </div>
    </div>



  </div>

</ion-content>